spring:
  application:
    name:Events
  datasource:
    url: jdbc:postgresql://ยง{DB_HOST}:{DB_PORT}/{DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
  jpa:
    properties:
      hibernate:
        auto_quote_keyword: true

key:
  access: JnqR7PGnOKXyikk3x974Utk15O9DH47rxLAbey1RNZU=
  refresh: hEdhi2CrR5/hGKlhM+EszdR69/Q8l7xlqb8zlKE5WPU=

server:
  port: 8080
  servlet:
    context-path: /api

logging:
  level:
    org:
      springframework:
        web: DEBUG
        security: DEBUG
    group9:
      events: DEBUG
